body {
  margin: 0px;
}

* {
  body-sizing: border-box;
}

.navbar {
  font-family: serif;
  background: #26c6da;
  color: white;
  overflow: auto;
}

.navbar__left {
  float: left;
  margin: 0rem 0.5rem;
  padding: 0.5rem 6rem;
}

.navbar__right, .navbar a {
  float: right;
  margin: 0.5rem;
  color:white;
  text-decoration: none;
}

.profile {
  border: 1px solid #e0e0e0;
}

.image {
  border-radius: 25%
}

.repo-list {
  border: 1px solid #e0e0e0;
}

.repo-list__language {
  border-top: 1px solid #e0e0e0;
}
