body {
  margin: 0px;
}

* {
  body-sizing: border-box;
}

.navbar {
  font-family: serif;
  background: #4dd0e1;
  color: white;
  overflow: auto;
}

.navbar__left {
  float: left;
  margin: 0rem 0.5rem;
  padding: 0.5rem 6rem;
}

.navbar__item a {
  color: white;
  text-decoration: none;
}

.navbar__item {
  float: right;
  margin: 0 0.5rem;
  display: inline;
}

.content {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.grid {
  margin: auto;
  margin-left: 10rem;
  overflow: auto;
}

.info-card {
  display: block;
  float:left;
  width: calc(100% / 4 - 1rem - 1rem);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.2rem;
}

.profile {
  overflow: auto;
}

.image {
  max-width: 100%;
  height: 4rem;
  width: 4rem;
  float: left;
  padding-right: 0.5rem;
  border-radius: 25%
}

.name {
  padding: 1rem;
  font-family: Arial;
}

.name p {
  font-size: 3rem;
}

.username {
  font-family: Arial;
  color: #9e9e9e;
}

.repo-list {
  border-top: 1px solid #e0e0e0;
}

.repo-list__name {
  float: left;
  margin-left: 0.5rem;
  font-family: Arial;
}

.repo-list__language {
  float: right;
  margin-right: 0.5rem;
  font-family: Arial;
}

.html-dot {
  background-color: #ff3d00;
  color: #ff3d00;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
